body, html {
height: 100%;
scroll-behavior: smooth;
}


.mth-heroback {
  background-image: url(https://i.imgur.com/LTQMKdO.jpg);
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: flex-end;
  background-position: center;
  background-repeat: no-repeat;
/*  background-size: cover;*/
min-height: 45vh;
  padding-bottom: 32px;
  background-attachment: fixed;
  width: calc(100%) 64px);
  margin-left: -32px;
}

h1 {
color: white;
font-family: "Helvetica Neue", "Arial", sans-serif;
font-size: 3.5em;
font-weight: 100;
letter-spacing: .3px;
}


.mthlogo-container {
  width: 250px;
  padding: 30px 30px;
}

#mth-menubar {
list-style-type: none;
display: flex;
justify-content: space-between;
align: right;
margin: 30px
}

a:link {
  text-decoration: none;
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-weight: 200;
  color:  white;
}

a.nav-link:hover {
  background-color: transparent;
border: solid 1px #fff;
}

.navbar-expand{-sm|-md|-lg|-xl|-xxl}

/* css column addition starts  */

.row {
  display: flex;
}

.column {
  flex: 50%;
}

/* css column addition ends */



/* css collapse to one column */

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/* css collapseto one column end  */

/* ul li a:hover {
  background: #93cb52;
  border-radius: 1px;
}
*/
/*.mth-rightside {
  width: 50px;
  height: 50px;
  background-color: lightgrey;
  border: 0;
}*/

/*.mth-rightside {
justify-content: flex-end;
}
*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

